body{
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    height: 400px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color:white;
    padding: 10px;
    width: 800px;
    height: 500px;
 
    
  }

  /* .grid-container > div {
    background-color: skyblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */
  .col1{
    height: 500px;
  }
  .one{
    height: 40%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .four{
    height: 20%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .seven{
    height: 20%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .ten{
    height: 20%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .two{
    height: 50%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .five{
    height: 20%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .eight{
    height: 15%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }

  .three{
    height: 45%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .six{
    height: 25%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }
  .nine{
    height: 20%;
    background-color: skyblue;
    margin: 4%;
    border: 2px solid rgb(107, 184, 214);
    border-radius: 4px;
    text-align: center;
    color: white;
  }



  